@model IEnumerable<egdBooking_v2.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Vessel
        <th>
            Section
        </th>
        <th>
            Docking Dates
        </th>
        <th>
            Booking Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vessel.Name)
        </td>
        <td>
            @foreach (var section in item.Sections) { 
                @Html.DisplayText(section)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
