@using egdbooking_v2.Models
@model LoginViewModel

@{
    if (ViewBag.lang == "fr")
    {
        System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("fr");
        System.Globalization.CultureInfo.CurrentCulture = ci;
        System.Globalization.CultureInfo.CurrentUICulture = ci;
        Layout = "~/Views/Shared/_WETLayoutFra.cshtml";
    }
    else
    {
        System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("en");
        System.Globalization.CultureInfo.CurrentCulture = ci;
        System.Globalization.CultureInfo.CurrentUICulture = ci;
        Layout = "~/Views/Shared/_WETLayoutEng.cshtml";
    }
    ViewBag.Title = "Home Page";
}

@section lastwrite
    {
        @System.IO.File.GetLastWriteTime(System.IO.Path.GetFullPath(this.Path.TrimStart(new char[] { '/' }))).ToString(Resources.ShortDate)
    }

@section pagedetails
    {
        <div class="col-sm-3 mrgn-tp-sm pull-right">
            <div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
        </div>
    }

<h1 id="wb-cont">@Resources.IndexHeader</h1>

<div class="span-4">

    <br />
    <p>@Resources.IndexDescription</p>
    <p style="border: solid 1px gray; padding: 4px"><strong>@Resources.Fees</strong><br />@Resources.FeesDescription</p>
    
    <h2>@Resources.OnThisPage</h2>

    <ul>
        <li><a href="#login">@Resources.JumpToSignIn</a></li>
        <li><a href="#bookings">@Resources.ConsultBookingsSummary</a></li>
        <li><a href="#information">@Resources.MoreInformation</a></li>
    </ul>

    <!-- Div so link above can jump to this point (login) -->
    <div id="login"></div>
    <h2>@Resources.SignInHeader</h2>
    <p><strong>@Resources.RegistrationDisclaimer</strong></p>
    <ul><li><a href="@Url.Action("ForgotPassword", "Account", new { lang = ViewBag.lang })#ajout-add">@Resources.Register</a></li></ul>
    <br />
    <p><strong>@Resources.SignInBelow</strong></p>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label" style="width: 100%; text-align: left">
                <span style="color: red">*</span>&nbsp;@Resources.EmailAddress&nbsp;<span title="" style="color: red">(@Resources.Required)</span><br /><span style="font-weight: normal">@Resources.CaseSensitive</span>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" style="width: 350px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label" style="width: 100%; text-align: left">
                <span style="color: red">*</span>&nbsp;@Resources.Password&nbsp;<span title="" style="color: red">(@Resources.Required)</span><br /><span style="font-weight: normal">@Resources.CaseSensitive</span>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" style="width: 350px;" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left: 0px">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left: 0px">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>

    <ul><li><a href="@Url.Action("ForgotPassword", "Account", new { lang = ViewBag.lang })#oubli-forgot">@Resources.ForgotPassword</a></li></ul>
    <!-- Div so link above can jump to this point (bookings) -->
    <div id="bookings"></div>
    <h2>@Resources.ConsultBookingsSummary</h2>
    <p>@Resources.BookingsSummaryDescription</p>
    <br />
    <div class="row" style="margin-left: 0px">
        <p><strong>@Resources.SelectTimePeriod</strong></p>
        <p>@Resources.AllRecords</p>  
        <div class="col-md-8">
            <section id="bookingsform">
                @using (Html.BeginForm("Index", "Bookings", new { lang = ViewBag.lang }))
                {
                        <fieldset>
                        <div class="form-group">
                            <label for="startdate">@Resources.FromDate<span class="datepicker-format"> (<abbr title="Four digits year, dash, two digits month, dash, two digits day">YYYY-MM-DD</abbr>)</span></label>
                            <input class="form-control" type="date" id="startdate" name="startdate" />
                        </div>
                        <div class="form-group">
                            <label for="enddate">@Resources.ToDate<span class="datepicker-format"> (<abbr title="Four digits year, dash, two digits month, dash, two digits day">YYYY-MM-DD</abbr>)</span></label>
                            <input class="form-control" type="date" id="enddate" name="enddate" />
                        </div>
                            <button class="btn btn-primary" type="submit">@Resources.Submit</button>
                    </fieldset>
                }
            </section>
        </div>
    </div>
    @* <p>To see the list of all bookings @Html.RouteLink("click here", new { controller = "Bookings", action = "Index" })</p> *@

    <!-- Div so link above can jump to this point (information) -->
    <div id="information"></div>
    <h2>@Resources.MoreInformation</h2>
    <ul>
        <li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/index-eng.html">@Resources.LearnMore</a></li>
        <li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/avis-notices-eng.html">@Resources.ImportantNotices</a></li>
        <li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/cn-cu-eng.html">@Resources.Contact</a></li>
    </ul>

</div>
