@model IEnumerable<egdbooking_v2.Models.Vessel>

@{
    ViewBag.title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

@using (Html.BeginForm("Delete", "Vessels", FormMethod.Get, new { @class = "form-inline" }))
{
    <input type="hidden" name="lang" value="@ViewBag.lang" />
    <select class="form-control" name="id">
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <input type="submit" value="@Resources.Delete" class="btn btn-primary" />
}
<br />
@Html.ActionLink(Resources.Cancel, "Index", "Admin", new { lang = ViewBag.lang }, null)