<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
    wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>@ViewBag.Title – Esquimalt Graving Dock – Vessels design, construction and maintenance – Marine transportation – Transport and infrastructure</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description" content="Companies and individuals can book space for a watercraft at any of the facilities of the Esquimalt Graving Dock on a first-come, first-served basis or can consult the public summary of bookings.">
    <!-- Meta data-->
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="/GCWeb/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="/GCWeb/assets/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="/GCWeb/css/ie8-theme.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <![endif]-->
    <noscript><link rel="stylesheet" href="/wet-boew/css/noscript.min.css" /></noscript>
    <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
    <script>dataLayer1 = [];</script>
    <!-- End Google Tag Manager -->
</head>
<body vocab="http://schema.org/" typeof="WebPage">
    @Html.Partial("~/Views/Partials/WET/_GoogleTagManager.cshtml")
    @Html.Partial("~/Views/Partials/WET/_HeaderEng.cshtml")
    <main role="main" property="mainContentOfPage" class="container">
        @RenderBody()
        <div class="row pagedetails">
            <div class="col-sm-6 col-lg-4 mrgn-tp-sm">
                <a href="https://www.canada.ca/en/report-problem.html" class="btn btn-default btn-block">Report a problem or mistake on this page</a>
            </div>
            @RenderSection("pagedetails", required: false)
            <div class="datemod col-xs-12 mrgn-tp-lg">
                <dl id="wb-dtmd">
                    <dt>Date modified:&#32;</dt>
                    <dd>@RenderSection("lastwrite", required: false)</dd>
                </dl>
            </div>
         </div>
    </main>
    @Html.Partial("~/Views/Partials/WET/_FooterEng.cshtml")
    @Html.Partial("~/Views/Partials/WET/_ThemeScripts.cshtml")
</body>
</html>

<!-- The following are section templates that can be copied into views to display certain aspects of the footer. -->
<!-- Copies are also located at the top of Views/Home/Index.cshtml -->
<!-- The first one is the section tag that allows the "Date Modified" text to be displayed. It should be copied into every view. -->
@*
    @section lastwrite
        {
            @File.GetLastWriteTime(this.Server.MapPath(this.VirtualPath))
        }
*@

<!-- This is the section tag that displays the "Share This Page" button in the footer. It should be displayed on every page that doesn't
    require a login to view -->
@*
    <div class="col-sm-3 mrgn-tp-sm pull-right">
        <div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
    </div>
*@
