@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@Resources.ForgotPassword</h2>
<p>@Resources.IfForgotPassword</p>
<p>@Resources.IfNoEmailAccess</p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post"> @*class="form-horizontal"*@
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label" style="width: 100%; text-align: left">
            <span style="color: red">*</span>&nbsp;@Resources.EmailAddress&nbsp;<span title="" style="color: red">(@Resources.Required)</span><br /><span style="font-weight: normal">@Resources.CaseSensitive</span>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" style="width: 350px" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
