@model IEnumerable<egdbooking_v2.Models.Company>
@{
    ViewBag.Title = "Approve";
}

<h2>Approve</h2>

<table class="table">
    <thead>
        <tr>
            <th style="width: 60%">@Resources.Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var company in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(company.Name, "Details", "Companies", new { id = company.Id }, null)
                </td>
                <td>
                    @using (Html.BeginForm("Approve", "Companies", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <label for="abbrev" class="control-label">@Resources.Abbrev</label>
                        <input type="text" name="abbrev" id="abbrev" maxlength="3" size="1" class="form-control" />
                        <input type="hidden" name="id" value="@company.Id" />
                        <input type="submit" value="Approve" class="btn btn-default" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Companies", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <input type="hidden" name="id" value="@company.Id" />
                        <input type="submit" value="Delete" class="btn btn-default" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
