@model egdbooking_v2.ViewModels.BookingsViewModel

@{
    if (ViewBag.lang == "fr")
    {
        System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("fr");
        System.Globalization.CultureInfo.CurrentCulture = ci;
        System.Globalization.CultureInfo.CurrentUICulture = ci;
        Layout = "~/Views/Shared/_WETLayoutFra.cshtml";
    }
    else
    {
        System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("en");
        System.Globalization.CultureInfo.CurrentCulture = ci;
        System.Globalization.CultureInfo.CurrentUICulture = ci;
        Layout = "~/Views/Shared/_WETLayoutEng.cshtml";
    }
    ViewBag.Title = Resources.BookingsSummary;
    ViewBag.isAdmin = false;//HttpContext.Current.User.IsInRole("Admin")
    ViewBag.isLoggedIn = true;//HttpContext.Current.User.IsInRole("User")
}

@section lastwrite
{
    @System.IO.File.GetLastWriteTime(System.IO.Path.GetFullPath(this.Path.TrimStart(new char[] { '/' }))).ToString(Resources.ShortDate)
}

<h2>@ViewBag.Title</h2>

<ul>
    @foreach (var dock in Model.Docks)
    {
        <li><a href="#@dock.DockName">@dock.DockName</a></li>
    }
</ul>

@foreach (var dock in Model.Docks)
{
    <h2><a name="@dock.DockName"></a>@dock.DockName</h2>

    if (dock.Bookings.ToList().Count > 0)
    {
        <table class="table">
            <tr>
                @if (ViewBag.isLoggedIn)
                {
                    <th>
                        @Resources.Vessel
                    </th>
                }
                <th>
                    @Resources.Section
                </th>
                <th>
                    @Resources.DockingDates
                </th>
                <th>
                    @Resources.BookingDate
                </th>
                @if (ViewBag.isAdmin)
                {
                    <th></th>
                }
            </tr>
            @foreach (var item in dock.Bookings)
            {
                <tr>
                    @if (ViewBag.isLoggedIn)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Vessel.Id)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Sections)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormattedStartDate)
                        -
                        @Html.DisplayFor(modelItem => item.FormattedEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormattedBookingDate)
                    </td>
                    @if (ViewBag.isAdmin)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Bookings", new { lang = ViewBag.lang, id = item.Id }) |
                            @Html.ActionLink("Details", "Details", "Bookings", new { lang = ViewBag.lang, id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", "Bookings", new { lang = ViewBag.lang, id = item.Id })
                        </td>
                    }
                </tr>
            }

        </table>
    }
    else
    {
        <p>@Resources.NoBookings</p>
    }
}

<h2>@Resources.ConductNewSearch</h2>
<ul>
    <li>
        @Html.ActionLink(Resources.ConsultBookingsSummary, "Index", "Home", null, null, "bookings", new { lang = ViewBag.lang }, null)
    </li>
</ul>

<h2>@Resources.BookSpace</h2>
<ul>
    <li>
        @Html.ActionLink(Resources.SignInToBookSpace, "Index", "Home", null, null, "login", new { lang = ViewBag.lang }, null)
    </li>
</ul>