@{
    ViewBag.Title = "Index";
}

@section lastwrite{
    @System.IO.File.GetLastWriteTime(System.IO.Path.GetFullPath(this.Path.TrimStart(new char[] { '/' }))).ToString(Resources.ShortDate)
}

<h1>@ViewBag.Title</h1>

@if ((int)ViewBag.companies > 0)
{
    <p>
        @Html.Raw(string.Format(Resources.NeedingApproval, 
            "<a href='" + Url.Action("Approve", "Companies", new { lang = ViewBag.lang }).ToString() + "'>" +
            (((int)ViewBag.companies == 1) ? string.Format(Resources.CompanyRequest) : string.Format(Resources.CompanyRequests, (int)ViewBag.companies)) +
            "</a>"))
    </p>
}
@{ 
    //TODO: Add quick link for approving users
}

<h2>Bookings</h2>
<div class="btn-group">
        @Html.ActionLink(Resources.DockManagement, "DockManagement", "Bookings", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
        @Html.ActionLink(Resources.DockCalendar, "DockCalendar", "Bookings", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
</div>
<br /><br />
<div class="btn-group">
    @Html.ActionLink(Resources.JettyManagement, "JettyManagement", "Bookings", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.JettyCalendar, "JettyCalendar", "Bookings", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
</div>

<h2>Users</h2>
<div class="btn-group">
    @Html.ActionLink(Resources.Create, "Create", "Users", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Edit, "Edit", "Users", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Approve, "Approve", "Users", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Delete, "Delete", "Users", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
</div>

<h2>Administrators</h2>
<div class="btn-group">
    @Html.ActionLink(Resources.Create, "Create", "Admin", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Remove, "Remove", "Admin", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
</div>

<h2>Companies</h2>
<div class="btn-group">
    @Html.ActionLink(Resources.Create, "Create", "Companies", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Edit, "EditIndex", "Companies", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Approve, "Approve", "Companies", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Delete, "DeleteIndex", "Companies", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
</div>

<h2>Vessels</h2>
<div class="btn-group">
    @Html.ActionLink(Resources.Create, "Create", "Vessels", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Edit, "EditIndex", "Vessels", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
    @Html.ActionLink(Resources.Delete, "DeleteIndex", "Vessels", new { lang = ViewBag.lang }, new { @class = "btn btn-default btn-xs" })
</div>
