<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - @Resources.MetaTitle</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="@Resources.MetaDescription">
    <meta name="description" lang="fr" content="@Resources.MetaDescription">
    <meta name="dcterms.creator" content="@Resources.MetaCreator">
    <meta name="dcterms.creator" lang="fr" content="@Resources.MetaCreator">
    <meta name="dcterms.title" content="@ViewBag.Title - @Resources.MetaTitle">
    <meta name="dcterms.title" lang="fr" content="@ViewBag.Title - @Resources.MetaTitle">
    <meta name="dcterms.issued" title="W3CDTF" content="@System.IO.File.GetLastWriteTime(System.IO.Path.GetFullPath(this.Path.TrimStart(new char[] { '/' }))).ToString(Resources.ShortDate)">
    <meta name="dcterms.modified" title="W3CDTF" content="">
    <meta name="dcterms.subject" title="scheme" content="@Resources.MetaSubject">
    <meta name="dcterms.subject" lang="fr" title="scheme" content="@Resources.MetaSubject">
    <meta name="dcterms.language" title="ISO639-2" content="en">
    <meta name="dcterms.language" lang="fr" title="ISO639-2" content="fr">
    <meta name="robots" content="noindex, follow">
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="/GCWeb/css/theme.min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/GCWeb/css/messages.min.css">
    <!--[if lt IE 9]>
    <link href="/GCWeb/assets/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="/GCWeb/css/messages-ie.min.css" />
    <link rel="stylesheet" href="/GCWeb/css/ie8-theme.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <![endif]-->
    <noscript><link rel="stylesheet" href="/wet-boew/css/noscript.min.css" /></noscript>
    <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
    <script>dataLayer1 = [];</script>
    <!-- End Google Tag Manager -->
</head>
<body class="splash" vocab="http://schema.org/" typeof="WebPage">
    @Html.Partial("~/Views/Partials/WET/_GoogleTagManager.cshtml")
    <div id="bg">
        <img src="/GCWeb/assets/sp-bg-egd.jpg" alt="">
    </div>
    <main role="main">
        @RenderBody()
    </main>
    @Html.Partial("~/Views/Partials/WET/_ThemeScripts.cshtml")
</body>
</html>